<<<<<<< HEAD

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{

    /*Primary Colors*/
    --titleColor:rgb(220, 245, 252);
    --numberColorDefault:rgb(220, 245, 252);
    --bgColorDefault:rgb(67, 109, 169);
    --bgcolorNegative:rgb(186, 50, 38);
    --bgColorPositive:rgb(65, 207, 151);
    --bgBox:rgba(126, 154, 197,0.5);

    /*Menu Color*/
    --decreaseColor:rgb(186, 50, 38);
    --resetColor:rgb(244, 152, 106);
    --IncreaseColor:rgb(65, 207, 151);

    /*Font*/
    --font:'Lato', sans-serif;
}
/*Classes JS*/
.main .counter .screen .positiveNumber{
    color:var(--IncreaseColor);
}
.main .counter .screen .negativeNumber{
    color:var(--decreaseColor);
}

/*Reset*/
*,
*:after,
*:before
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:var(--font);
}



/*CSS*/
body{
    width:100vw;
    min-height:100vh;
   
}

.main{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:var(--bgColorDefault);

}
.counter{

    min-width: 50%;

    height: auto;
    padding:2rem;
    background-color:var(--bgBox);
    border: 1px solid white;
    text-align:center;
    border-radius:20px
}
.screen{

    display:flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 2rem;

}
.title{
    font-variant: small-caps;
    font-size:5rem;
    color:var(--numberColorDefault);
}
.number{
    font-size:4.5rem;
    color:var(--numberColorDefault);

}


.menu-bar{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
.menu-bar li{
    border: 1px solid rgba(255, 255, 255, 0.5);
    color:white;
    padding:0.5rem 1rem;
    border-radius:10px;
    font-weight: 700;
    cursor: pointer;
}
.menu-bar li:first-of-type{
    background-color:var(--bgcolorNegative);
}

.menu-bar li:nth-child(2){
    background-color:var(--resetColor);
}

.menu-bar li:last-of-type{
    background-color:var(--bgColorPositive);
}
=======

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{

    /*Primary Colors*/
    --titleColor:rgb(220, 245, 252);
    --numberColorDefault:rgb(220, 245, 252);
    --bgColorDefault:rgb(67, 109, 169);
    --bgcolorNegative:rgb(186, 50, 38);
    --bgColorPositive:rgb(65, 207, 151);
    --bgBox:rgba(126, 154, 197,0.5);

    /*Menu Color*/
    --decreaseColor:rgb(186, 50, 38);
    --resetColor:rgb(244, 152, 106);
    --IncreaseColor:rgb(65, 207, 151);

    /*Font*/
    --font:'Lato', sans-serif;
}
/*Classes JS*/
.main .counter .screen .positiveNumber{
    color:var(--IncreaseColor);
}
.main .counter .screen .negativeNumber{
    color:var(--decreaseColor);
}

/*Reset*/
*,
*:after,
*:before
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:var(--font);
}



/*CSS*/
body{
    width:100vw;
    min-height:100vh;
   
}

.main{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:var(--bgColorDefault);

}
.counter{

    min-width: 50%;

    height: auto;
    padding:2rem;
    background-color:var(--bgBox);
    border: 1px solid white;
    text-align:center;
    border-radius:20px
}
.screen{

    display:flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 2rem;

}
.title{
    font-variant: small-caps;
    font-size:5rem;
    color:var(--numberColorDefault);
}
.number{
    font-size:4.5rem;
    color:var(--numberColorDefault);

}


.menu-bar{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
.menu-bar li{
    border: 1px solid rgba(255, 255, 255, 0.5);
    color:white;
    padding:0.5rem 1rem;
    border-radius:10px;
    font-weight: 700;
    cursor: pointer;
}
.menu-bar li:first-of-type{
    background-color:var(--bgcolorNegative);
}

.menu-bar li:nth-child(2){
    background-color:var(--resetColor);
}

.menu-bar li:last-of-type{
    background-color:var(--bgColorPositive);
}
>>>>>>> ccbc9512efe1abfd38b3464c1f5231d3af64623f
