@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,400&display=swap');

:root{
    /*Colors*/
    --black:#171717;
    --blue:#94B3FD;
    --bgBody:#D4ECDD;
    --bgCard:#F3F1F5;
    /*Font*/
    --font:'Roboto Condensed', sans-serif;
}

*, 
*:after, 
*:before { 
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: var(--font);
}
body{
    width:100%;
    min-height:100vh;
    background-color:var(--bgBody);
    
}
.main{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card{
    width:50%;
    height:auto;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;

    background:var(--bgCard);
    text-align:center;
    gap: 5vh;
    padding: 5vh;

}
.card-header{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1vh;
    color:var(--black);

}
.card-header h2{
    color:var(--blue);
}

.card-header .img{
    display:flex;justify-content: center;align-items: center;
    padding-top:5vh;
    background-image:url(/src/images/quote.png);
    background-repeat:no-repeat;
    background-position:top;

}
.card-header img{
    width:100%;
    height:30vh;

    border:5px solid transparent;
    border-right-color: var(--blue);
    border-top-color:var(--blue);

}
.card-body p{
    color:var(--black);
}
.card-footer{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.rows{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding-bottom: 1rem;
}
.rows img{
    cursor:pointer;
}

button{
    padding:0.5rem 1rem;
    background:var(--bgBody);
    border:1px solid var(--black);
    cursor:pointer;
}
@media screen and (max-width:700px){
    .card {
        width:90%;
    }
}